In [1]:
import pandas as pd

In [3]:
vib_df = pd.read_csv(r"C:\Users\Dinesh.Makked\Downloads\248_UPS-HBR-HBR.VEX657202_02.PZ.X.csv")

In [5]:
vib_df.columns

Index(['Unnamed: 0', 'UPS-HBR-HBR.VEX657202_02.PZ.X'], dtype='object')

In [6]:
vib_df = vib_df.rename(columns = { "Unnamed: 0" : "Reading Date", 'UPS-HBR-HBR.VEX657202_02.PZ.X' : "Reading"})

In [7]:
vib_df.columns

Index(['Reading Date', 'Reading'], dtype='object')

In [9]:
vib_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2909930 entries, 0 to 2909929
Data columns (total 2 columns):
 #   Column        Dtype
---  ------        -----
 0   Reading Date  object
 1   Reading       float64
dtypes: float64(1), object(1)
memory usage: 44.4+ MB

In [11]:
vib_df['Reading Date'] =  pd.to_datetime(vib_df['Reading Date'], format= "%Y-%m-%d %H:%M:%S")

In [12]:
vib_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2909930 entries, 0 to 2909929
Data columns (total 2 columns):
 #   Column        Dtype
---  ------        -----
 0   Reading Date  datetime64[ns]
 1   Reading       float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 44.4 MB

In [13]:
vib_df

                   Reading Date    Reading
0       2021-07-30 16:43:39.805  12.982574
1       2021-07-30 16:43:45.809  12.787255
2       2021-07-30 16:47:45.828  12.884914
3       2021-07-30 16:47:49.808  12.591937
4       2021-07-30 16:47:59.823  12.640766
...                         ...        ...
2909925 2022-06-27 19:29:37.988  11.914426
2909926 2022-06-27 19:29:43.986  11.963256
2909927 2022-06-27 19:29:47.986  12.060915
2909928 2022-06-27 19:29:53.988  11.670278
2909929 2022-06-27 19:30:03.984  12.060915

[2909930 rows x 2 columns]

In [17]:
from_date = pd.to_datetime("2022-01-31 00:00:00", format= "%Y-%m-%d %H:%M:%S")
to_date = pd.to_datetime("2022-01-31 12:00:00", format = "%Y-%m-%d %H:%M:%S")
print(from_date, to_date)

2022-01-31 00:00:00 2022-01-31 12:00:00

In [26]:
my_filter = ((vib_df["Reading Date"] >= from_date) & (vib_df["Reading Date"] <= to_date))
new_df = vib_df[my_filter]
new_df

                  Reading Date    Reading
861982 2022-01-31 00:00:02.872  19.812616
861983 2022-01-31 00:00:06.872  20.203253
861984 2022-01-31 00:00:12.873  19.568468
861985 2022-01-31 00:00:16.892  20.105595
861986 2022-01-31 00:00:22.874  19.617298
...                        ...        ...
867927 2022-01-31 11:59:14.370   0.677511
867928 2022-01-31 11:59:24.379   0.628681
867929 2022-01-31 11:59:28.381   0.677511
867930 2022-01-31 11:59:34.377   0.628681
867931 2022-01-31 11:59:58.371   0.677511

[5950 rows x 2 columns]